<!--
including header content which is common for all pages
-->
<%- include ../layouts/headerUser.ejs %>	


<% if (messages.error) { %>
	<div id="toast" class="toast toast-error">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.error %>
		</div>
<% } %>

<% if (messages.success) { %>
	<div id="toast" class="toast toast-success">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.success %>
		</div>
<% } %>

<div class="content-wrapper--outer padded add-student-bg">
    
	  
	<div class="content-wrapper-inner centerize padded-tb">

					<div class="card add-student-card transparent-white">
					<div class="card-header">
						<div class="card-title h5 text-brown">Create Account</div>
						<div class="card-subtitle text-light"></div>
					</div>
					<div class="divider"></div>
					<div class="card-body">
					<form class="form-horizontal"  action="/users/signup" method="post">
						<!-- First Name -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
							<label class="form-label" for="fname">First Name</label>
							</div>
							<div class="col-9 col-sm-12">
							<input class="form-input" name="fname" id="fname" value="<%= fname %>" placeholder="First Name">
							</div>
						</div>
						<!-- Last Name -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label class="form-label" for="lname">Last Name</label>
							</div>
							<div class="col-9 col-sm-12">
								<input class="form-input"  name="lname" id="lname" value="<%= lname %>" placeholder="Name">
							</div>
							</div>
						
						<!-- Mobile -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label for="mobile" class="form-label">Phone Number</label>
							</div>
							<div class="col-9 col-sm-12">
								<input type="tel" name="mobile" value="<%= mobile %>" class="form-input" placeholder="0788000000">
							</div>
						</div>
						<!-- Email -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label for="email" class="form-label">Email</label>
							</div>
							<div class="col-9 col-sm-12">
								<input type="email" name="email" value="<%= email %>" class="form-input" placeholder="hello@gmail.com">
							</div>
                        </div>
						
						
						<!-- username -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label for="username" class="form-label">username</label>
							</div>
							<div class="col-9 col-sm-12">
								<input id="username" name="username" value="<%= username %>" class="form-input" placeholder="username">
							</div>
						</div>
                        <!-- password -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label for="password" class="form-label">password</label>
							</div>
							<div class="col-9 col-sm-12">
								<input type="password" name="password" value="<%= password %>" class="form-input" placeholder="password">
							</div>
						</div>
						<!-- gender -->
						<div class="form-group">
								<div class="col-3 col-sm-12">
									<label for="gender" class="form-label">Gender</label>
								</div>
								<div class="col-9 col-sm-12">
									<select name="gender" class="form-select">
										<option value="male">Male</option>
										<option value="female">Female</option>
									</select>
								</div>
							</div>
						<!-- id -->
						<div class="form-group">
								<div class="col-3 col-sm-12">
									<label for="studentID" class="form-label">StudentID</label>
								</div>
								<div class="col-9 col-sm-12">
									<input class="form-input" value="<%= studentID %>" name="studentID" placeholder="209568" />
								</div>
							</div>
						<!-- secondary -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label for="graduationYear" class="form-label">Graduation year</label>
							</div>
							
							<div class="col-9 col-sm-12">
								
								<select name="graduationYear"  class="form-select">
									<option value="2012">2012</option>
									<option value="2013">2013</option>
									<option value="2014">2015</option>
									<option value="2016">2016</option>
									<option value="2017">2017</option>
									<option value="2018">2018</option>
									<option value="2019">2019</option>
									<option value="2020">2020</option>
									<option value="2021">2021</option>
								</select>
							</div>
							
						</div>
				
						
						<!-- Submit -->
						<div class="padded-tb">
							<button class="btn-block btn btn-primary bg-brown text-white" type="submit">Sign In</button>
						</div>
						</form>
						   </div>
						  </div>
					  	</div>
				     </div>
		         </div>

</div>


<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footerUser.ejs %>


