<!--
including header content which is common for all pages
-->
<%- include ../layouts/headerUser.ejs %>	


<% if (messages.error) { %>
	<div id="toast" class="toast toast-error">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.error %>
		</div>
<% } %>

<% if (messages.success) { %>
	<div id="toast" class="toast toast-success">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.success %>
		</div>
<% } %>

<div class="content-wrapper--outer padded add-student-bg">


	  
	<div class="content-wrapper-inner centerize padded-tb">

					<div class="card add-student-card transparent-white">
					<div class="card-header">
						<div class="card-title h5 text-brown">Post New Project</div>
						<div class="card-subtitle text-light">Fill in form</div>
					</div>
					<div class="divider"></div>
					<div class="card-body">
					<form class="form-horizontal"  action="/users/addProject" method="post">
						<!--  Name -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
							<label class="form-label" for="name">Title</label>
							</div>
							<div class="col-9 col-sm-12">
							<input class="form-input" name="name" id="name" value="<%= name %>" placeholder="Title">
							</div>
						</div>
						<!-- Last Name -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label class="form-label" for="manager">Project Manager</label>
							</div>
							<div class="col-9 col-sm-12">
								<input class="form-input"  name="manager" id="manager" value="<%= manager %>" placeholder="e.g RDB">
							</div>
							</div>


							<!-- Sector -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label class="form-label" for="sector">Sector</label>
							</div>
							<div class="col-9 col-sm-12">
								<input class="form-input"  name="sector" id="sector" value="<%= sector %>" placeholder="e.g Education">
							</div>
							</div>
					
						<!-- Email -->
						<div class="form-group">
							<div class="col-3 col-sm-12">
								<label for="postedBy" class="form-label">Posted By</label>
							</div>
							<div class="col-9 col-sm-12">
								<input type="email" name="postedBy" value="<%= postedBy %>" class="form-input" placeholder="hello@gmail.com">
							</div>
						</div>


							<!-- Details -->
							<div class="form-group">
								<div class="col-3 col-sm-12">
									<label for="details" class="form-label">More Details</label>
								</div>
								<div class="col-9 col-sm-12">
									<input  type="text" name="details" value="<%= details %>" class="form-input" placeholder="http://example.oppo.com">
								</div>
							</div>
						<!-- gender -->
					
						<!-- id -->
						
						<!-- secondary -->
						
						<!-- transcript -->
						<!-- faculty -->
					
						<!-- session -->
						
						<!-- Submit -->
						<div class="padded-tb">
							<button class="btn-block btn btn-primary bg-brown text-white" type="submit">Submit</button>
						</div>
						
						</form>
						</div>
						</div>
						</div>



				  </div>
		
	</div>

</div>


<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footerUser.ejs %>


