
<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	
	
		
<% if (messages.error) { %>
	<div id="toast" class="toast toast-error">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.error %>
		</div>
<% } %>

<% if (messages.success) { %>
	<div id="toast" class="toast toast-success">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.success %>
		</div>
<% } %>

<div class="content-wrapper--outer edit-student-bg padded">
  
	<div class="card edit-student-card transparent-white">
			<div class="card-header">
				<div class="card-title h5 text-brown">Edit Opportunity</div>
				<div class="card-subtitle text-light">Fill in form</div>
			</div>
			<div class="divider"></div>
			<div class="card-body">
			<form class="form-horizontal" action="/users/editOpportunity/<%= id %>" method="post" name="form1">
				
				<div class="form-group">
					<div class="col-3 col-sm-12">
					<label class="form-label" for="name">Name</label>
					</div>
					<div class="col-9 col-sm-12">
					<input class="form-input" name="name" id="name" value="<%= name %>" placeholder="Name">
					</div>
				</div>
				<!-- Last Name -->
				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label class="form-label" for="type">Type</label>
					</div>
					<div class="col-9 col-sm-12">
						<input class="form-input"  name="type" id="type" value="<%= type %>" placeholder="e.g Scholarship">
					</div>
					</div>


					<!-- Sector -->
				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label class="form-label" for="sector">Sector</label>
					</div>
					<div class="col-9 col-sm-12">
						<input class="form-input"  name="sector" id="sector" value="<%= sector %>" placeholder="e.g Education">
					</div>
					</div>
			
				<!-- Email -->
				<div class="form-group">
					<div class="col-3 col-sm-12">
						<label for="postedBy" class="form-label">Posted By</label>
					</div>
					<div class="col-9 col-sm-12">
						<input type="email" name="postedBy" value="<%= postedBy %>" class="form-input" placeholder="hello@gmail.com">
					</div>
				</div>


					<!-- Details -->
					<div class="form-group">
						<div class="col-3 col-sm-12">
							<label for="details" class="form-label">More Details</label>
						</div>
						<div class="col-9 col-sm-12">
							<input type="text" name="details" value="<%= details %>" class="form-input" placeholder="http://example.oppo.com">
						</div>
					</div>
				
				<!-- Submit -->
				<div class="padded-tb">
					<button class="btn-block btn btn-primary bg-brown text-white" type="submit">Edit Information</button>
				</div>
				<input type="hidden" name="_method" value="PUT" />
				</form>
				</div>
				</div>
				</div>



			</div>
</div>





<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>

