<!--
including header content which is common for all pages
-->
<%- include ../layouts/headerDoctor.ejs %>

<% if (messages.error) { %>
	<div id="toast" class="toast toast-error">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.error %>
		</div>
<% } %>

<% if (messages.success) { %>
	<div id="toast" class="toast toast-success">
			<button id="btn-clear" class="btn btn-clear float-right"></button>
			<%- messages.success %>
		</div>
<% } %>
<div class="content-wrapper--outer padded">
	<!-- <table width='80%' border=0>
		<tr style='text-align:left; background-color:#CCC'>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Age</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
		<% if (data) { %>
		<% data.forEach(function(user){ %>
			<tr>
				<td><%= user.fname %></td>
				<td><%= user.lname %></td>
				<td><%= user.age %></td>
				<td><%= user.mobile %></td>
				<td><%= user.email %></td>
				
				<td>
					<div style="float:left">
						<a href='/users/edit/<%= user._id %>'>Edit</a> &nbsp;							
						<form method="post" action="/users/delete/<%= user._id %>" style="float:right">
							<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
							<input type="hidden" name="_method" value="DELETE" />
						</form>
					</div>
				</td>
			</tr>
		<% }) %>
		<% } %>
	</table> -->
	<div class="content-wrapper--inner centerize padded-tb">
	<div class="heading text-center">
		<h3>Appointments List</h3>
	</div>
	<div class="divider"></div>
	<table class="table table-striped table-hover">
			<thead>
			  <tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
				<th>Mobile</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Identity</th>
				<th>Center</th>
				<th>Counselor</th>
				<th>Status</th>
				<th>Approve/Request</th>
			  </tr>
			</thead>
			<tbody>
			<% if (data) { %>
			<% data.forEach(function(user){ %>
				<tr>
					<td class="text-capitalize"><%= user.fname %></td>
					<td class="text-capitalize"><%= user.lname %></td>
					<td><%= user.age %></td>
					<td><%= user.mobile %></td>
					<td><%= user.email %></td>
					<td class="text-capitalize"><%= user.gender %></td>
					<td><%= user.identity %></td>
					<td class="text-capitalize"><%= user.district %></td>
					<td class="text-capitalize"><%= user.doctor %></td>
					<td class="text-capitalize"><%= user.status %></td>
					
					
					<td>
						<form method="post" action="/users/approve/<%= user._id %>">
							<a class="btn btn-action btn-error" onClick="return confirm('Are you sure you want to aprrove this appointment?')" href='/users/approve/<%= user._id %>' ><i class="icon icon-edit"></i></a> 
							<!--<button type="submit" name="delete" class="btn btn-action btn-error" onClick="return confirm('Are you sure you want to aprrove this appointment?')"><i class="icon icon-delete"></i></button> -->
							<input type="hidden" name="_method" value="PUT" />
						</form>
					</td>
				</tr>
				<% }) %>
				<% } %>
			</tbody>
		  </table>
		  </div>
		   
</div>


<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footerdoctor.ejs %>
